/* Website Common Styles */
body{
    font-family: 'Lato', sans-serif;
}

main{
    /* width: 80%; */
    margin: 0 auto;
}

.header{
    background-color: rgba(229, 84, 115, 0.10);
}

/* Banner Section Styles */
.banner{
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
}
.banner-content{
    margin-right: 0 100px 0 0;
    padding: 50px 50px 100px 0;
}
.banner-title{
    font-size: 80px;
    font-weight: 700;
    color: #272727;
    margin-bottom: 32px;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
    color: #272727;
    margin-top: 32px;
    margin-bottom: 32px;
}
.banner .banner-image{
    width: 400px;
    padding: 50px 0 0 50px;
}

/* Featured Section */

.featured{
    width: 70%;
    margin: 0 auto;
    padding: 10px 50px 10px 50px;
}
.featured-info{
    text-align: center;
    padding: 30px 200px;
}
.featured-flowers-container{
    display: flex;
    justify-content: space-between;
}
.featured-flower{
    text-align: center;
}
.featured-flower > a{
    color: #272727;
}
.flower{
    
    width: 200px;
    height: 280px;
    border: 0;
    border-radius: 120px 120px 0 0;
}
.flower > img{
    width: 90%;
}
#flower-1{
    background-color: rgba(167, 33, 98, 0.15);
}
#flower-2{
    background-color: rgba(5, 151, 160, 0.15);
}
#flower-3{
    background-color: rgba(71, 125, 17, 0.15);
}


/* Hot Deals Section Styles */
.hot-deals{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 80px;
    margin-top: 50px;
}
.hot-deals-content{
    width: 60%;
    text-align: center;
}


/* Social Section Styles */

.social{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.social-images-container{
    display: flex;
    justify-content: space-between;
}
.social-image{
    width: 25%;
    padding: 10px;
}
.social-image > img{
    width: 100%;
}


/* Subscription Section Style */
.subscription{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    background-image: url(../images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.subscription-content{
    padding: 40px 0 10px 0;
}
.subscription-form{
    padding-bottom: 60px;
}
#email-box{
    padding: 10px 40px;
}
#subscription-button{
    color: white;
    background-color: #E55473;
    border: 0;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}



/* Common Section Style */
.section-title{
    font-size: 40px;
    font-weight: 700;
}
.section-description{
    font-size: 18px;
    font-weight: 400;
}


/* Primary Styles */
.button-primary{
    color: white;
    background-color: #E55473;
    border: 0;
    border-radius: 8px;
    padding: 20px 43px;
    font-size: 20px;
    font-weight: 700;
}

/* Primary Color */
.primary-color{
    color: #E55473;
}