/* Website Common Styles */
body{
    font-family: 'Lato', sans-serif;
}

main{
    width: 80%;
    margin: 0 auto;
}

.header{
    background-color: #ffdee5;
}

/* Banner Section Styles */
.banner{
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
}
.banner-content{
    margin-right: 0 100px 0 0;
    padding: 50px 50px 100px 0;
}
.banner-title{
    font-size: 80px;
    font-weight: 700;
    color: #272727;
    margin-bottom: 32px;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
    color: #272727;
    margin-top: 32px;
    margin-bottom: 32px;
}
.banner .banner-image{
    width: 400px;
    padding: 50px 0 0 50px;
}

/* Featured Section */

.featured{
    width: 80%;
    margin: 100px auto;
    padding: 10px 50px 10px 50px;
}
.featured-info{
    text-align: center;
}
.featured-flowers-container{
    display: flex;
    justify-content: space-around;
}
.featured-flower{
    text-align: center;
    width: 200px;
    height: 280px;
}
.flower{
    padding: 0 0 20px 0;
    width: 200px;
    height: 280px;
    border: 0;
    border-radius: 100px 100px 0 0;
}
.flower > img{
    width: 100%;
}
#flower-1{
    background-color: #ffdee5;
}
#flower-2{
    background-color: #f79ee8;
}
#flower-3{
    background-color: #9eeea5;
}


/* Common Section Style */
.section-title{
    font-size: 40px;
    font-weight: 700;
}
.section-description{
    font-size: 18px;
    font-weight: 400;
}


/* Primary Styles */
.button-primary{
    color: white;
    background-color: #E55473;
    border: 0;
    border-radius: 8px;
    padding: 20px 43px;
    font-size: 20px;
    font-weight: 700;
}